{% include 'header.html' %}
<section>
    <div class="container text-center">
        <h1 class="display-5 fw-bold my-5">{{name}}</h1>
    <form action="{{url_for('delete_cafe', id=id, name=name)}}" method="POST" >

        <div class="row g-3 align-items-center mb-2 justify-content-center">
            <div class="col-sm-2 col-4">
              <label for="api-key" class="col-form-label">Enter API Key</label>
            </div>
            <div class="col-auto col-sm-4">
              <input type="text" id="api-key" class="form-control" name="api-key" required>
            </div>
          </div>

             
              <input type="submit" value="Delete Cafe" class="btn btn-lg btn-outline-brown my-3">
        </form>
    </div>
    </section>
{% include 'footer.html' %}